<li>
	<div class="card-wrap">
		<div class="img-wrap">
			<img src="{{imgSrc}}" alt="" />
		</div>
		<div class="detail-wrap">
			<div class="name ellipsis"><a>{{name}}</a></div>
			<div class="sub-head ellipsis"><a><span>Location:</span>&nbsp;<span title="{{location}}">{{location}}</span></a></div>
			<div class="sub-head ellipsis"><a><span>Followers:</span>&nbsp;{{followers}}</a></div>
		</div>
		<span class="close-icon">x</span>
	</div>
</li>